.header-top{
    display: grid;
    grid-template-columns: 10% 20% 70%;
    gap: 5px;
}

.header-top .title{
    font-size: small;
}

.header-top .title h1{
    margin-top: 0;
}

.header-top .navbar .navbar-list{
    display: flex;
    justify-content: space-around;
}

.header-top .navbar .navbar-item{
    list-style: none;
    font-weight: bold;
}

.header-top .navbar .navbar-item a{
    text-decoration: none;
    color: black;
}

.header-top .navbar .navbar-item .shop{
    color:rgb(0, 148, 148);
}

.header-top .navbar .navbar-item .dropdown{
    appearance: none;
    font-weight: bold;
    font-size: medium;
    border: none;
}