<div class="row">
    <div class="col-md-7 text-center align-middle ">
        <h3>Listado de Usuarios</h3>
        <table class="table table-borderless ">
            <thead class="table-secondary ">
                <tr>
                    <th>Avatar</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios">
                    <td><img src="{{usuario.avatar}}" alt="{{usuario.first_name}}"></td>
                    <td>{{usuario.first_name}}</td>
                    <td>{{usuario.last_name}}</td>
                    <td>
                        <button class="btn btn-sm btn-danger me-2" (click)="deleteUser(usuario.id)">Eliminar</button>
                        <button class="btn btn-sm btn-warning" (click)="updateUser(usuario)">Modificar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-5">
        <h3>Alta de Usuario</h3>
        <form #miForm="ngForm" (ngSubmit)="createUser(miForm)">
            <input type="hidden" name="id" [(ngModel)]="userService.user.id">
            <div class="mb-3 text-start ">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" id="nombre" name="name" [(ngModel)]="userService.user.nombre" class="form-control"
                    placeholder="Ingrese el nombre">
            </div>

            <div class="mb-3 text-start">
                <label for="job" class="form-label">Trabajo</label>
                <input type="text" id="job" name="job" [(ngModel)]="userService.user.trabajo" class="form-control"
                    placeholder="Ingrese el trabajo">
            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-outline-success me-3">Agregar</button>
                <button class="btn btn-outline-dark">Limpiar</button>
            </div>
        </form>
    </div>
</div>