<div class="container mb-3">
    <section class="row p-3">
        <div class="col-12 offset-md-5 col-md-9 offset-lg-1 col-lg-11 text-center">
            <h2 class="py-3 fs-1">TO-DO LIST <i style="font-size: 1em;" class="bi bi-card-checklist"></i></h2>
            <!-- Sección de categorías -->
            <div class="d-flex justify-content-center my-3">
                <button class="btn btn-outline-dark  me-2 rounded-0" (click)="filtrarLista('todas')">Todas</button>
                <button class="btn btn-outline-warning me-2 rounded-0" (click)="filtrarLista('pendientes')">Pendientes</button>
                <button class="btn btn-outline-success me-2 rounded-0" (click)="filtrarLista('completadas')">Completadas</button>
                <button class="btn btn-outline-danger rounded-0" (click)="filtrarLista('eliminadas')">Eliminadas</button>
            </div>
            <!-- Sección de input -->
            <div class="d-flex justify-content-center">
                <div class="w-75">
                    <input [(ngModel)]="inputTarea" class="form-control rounded-0" type="text"
                        placeholder="Ingrese su tarea">
                </div>
                <div>
                    <button class="btn btn-dark ms-2 rounded-0" (click)="agregarTarea()">Agregar</button>
                </div>
            </div>
        </div>
    </section>
    <!-- Sección de lista -->
    <section class="row mt-5">
        <div class="col-12 offset-md-5 col-md-9 offset-lg-2 col-lg-9 offset-lg-1 text-center ">
            <ul class="list-unstyled list-group">
                <!-- Tarea creada -->
                <li *ngFor="let tarea of arrayTareas; index as i"
                    [ngClass]="(tarea.checked) ? 'text-decoration-line-through' : 'text-decoration-none'"
                    class="rounded-0  list-group-item d-flex align-items-center  justify-content-between list-group-item-action" >
                    <div class="d-flex flex-column text-start">
                        <p class="m-0 fs-5">#{{tarea.id}} {{tarea.nombre}}</p>
                        <p class="m-0 text-secondary">{{fecha | date: 'dd/MM/yyyy'}}</p>
                    </div>
                    <div class="d-flex justify-content-end">
                        <!-- Checkbox -->
                        <ng-container *ngIf="tarea.estado !== 'eliminada' ">
                            <input [(ngModel)]="tarea.checked" class="form-check-input border-secondary-subtle " type="checkbox" (click)="marcarCasilla(tarea)">
                        </ng-container>
                        <!-- Botón de eliminado lógico -->
                        <ng-container *ngIf="tarea.estado === 'completada' ">
                            <button (click)="deshabilitarTarea(tarea)"  class=" border-0 bg-white  ms-2 btn- text-decoration-none text-dark" href="">
                                <i style="font-size: 1.2em;" class="bi bi-trash"></i>
                            </button>
                        </ng-container>
                        <!-- Botón de eliminado físico -->
                        <ng-container *ngIf="tarea.estado === 'eliminada' ">
                            <button (click)="eliminarTarea(tarea.id)"  class=" border-0 bg-white  ms-2 btn- text-decoration-none text-dark" href="">
                                <i style="font-size: 1.2em;" class="bi bi-x-square"></i>
                            </button>
                        </ng-container>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>