<aside class="bg-dark p-2 h-100 position-fixed">
  <div class="row px-3">
    <!-- Título del sidebar -->
    <section class="col border-bottom">
      <h2 class="fs-4 py-2 text-white ">Proyectos</h2>
    </section>
    <!-- Lista de proyectos -->
    <section class="row">
      <div class="col">
        <ul class="list-unstyled fs-5 py-3 align-items-center ">
          <li class="pb-2 d-flex align-items-center ">
            <a class="text-decoration-none text-white " href="">
              To-Do List <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                class="bi bi-card-checklist ms-2" viewBox="0 0 16 16">
                <path
                  d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z" />
                <path
                  d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0" />
              </svg>
            </a>
          </li>
          <li class="pb-2 d-flex align-items-center ">
            <a class="text-decoration-none text-white " href="">
              Simpsons Characters <svg xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" height="24" width="24" version="1.1" id="Capa_1"
              viewBox="0 0 44.028 44.028" xml:space="preserve">
              <g><path style="fill:white;" d="M0,22.014c0,12.158,9.856,22.014,22.014,22.014c12.156,0,22.014-9.856,22.014-22.014   C44.028,9.857,34.171,0,22.014,0C9.856,0.001,0,9.857,0,22.014z M27.544,22.014c0,3.055-2.476,5.53-5.53,5.53   c-3.054,0-5.53-2.476-5.53-5.53s2.476-5.529,5.53-5.529C25.068,16.485,27.544,18.958,27.544,22.014z" /></g>
          </svg>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</aside>